[rabbitmq]
host = 192.168.1.203
port = 5672
username = dev
password = dev
virtualhost = /

[RQMarketDataSourceEventConfigModel]
exchangename = oneroot.entrust.ExchangeId.
queuename = MktDataSource
routingkey = ExchangeId
symbol = ETH-USDT
market = USDT

[RQMarketDataEventConfigModel]
exchangename = oneroot.marketData
queuename = 
routingkey = mkt
symbol = ETH-USDT
market = USDT

[redis]
host = 192.168.1.206
port = 6379
db = 4
password = Aa123456
